.form {
    display: flex; 
    justify-content: space-between;
 }
 
.aztec {
    margin-bottom: 15px;
}

.form_input {
    width: 330px;
    height: 63px;
    left: 365px;
    top: 440px;
    border: 2px solid #434F4D;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #434E4D;
    border-radius: 10px;
    padding-left: 38px;
}

.form_select {
    width: 330px;
    height: 63px;
    left: 745px;
    top: 440px;
    border: 2px solid #434F4D;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #434E4D;
    border-radius: 10px;
    padding-left: 22px;
}