.container {
    padding: 60px 120px 263px 120px;
    background: linear-gradient(180deg, #4A5957 0%, #424D4C 100%);
}

.mainContainer {
    padding: 60px 120px 263px 120px;
    background: linear-gradient(180deg, #4A5957 0%, #424D4C 100%);
}

.headerCalculator > h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #F6F6F5;
    margin-left: 20px;
    margin-bottom: 70px;
}

.currenncyCalculator {
    width: 764px;
    margin: 0 auto;
    padding: 27px 27px 34px 21px;
    background: #F6F6F5;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topCurrenncyCalculator {
    padding: 0px 0px 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    color: #956944;
    margin: 0 0 73px 21px;
}

.form {
    display: flex; 
    justify-content: space-between;
 }
 
.aztec {
    margin-bottom: 15px;
}

.form_input {
    width: 330px;
    height: 63px;
    left: 365px;
    top: 440px;
    border: 2px solid #434F4D;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #434E4D;
    border-radius: 10px;
    padding-left: 38px;
}

.form_select {
    width: 330px;
    height: 63px;
    left: 745px;
    top: 440px;
    border: 2px solid #434F4D;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #434E4D;
    border-radius: 10px;
    padding-left: 22px;
}