.container {
    padding: 60px 120px 263px 120px;
    background: linear-gradient(180deg, #4A5957 0%, #424D4C 100%);
}

.mainContainer {
    padding: 60px 120px 263px 120px;
    background: linear-gradient(180deg, #4A5957 0%, #424D4C 100%);
}

.headerCalculator > h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #F6F6F5;
    margin-left: 20px;
    margin-bottom: 70px;
}

.currenncyCalculator {
    width: 764px;
    margin: 0 auto;
    padding: 27px 27px 34px 21px;
    background: #F6F6F5;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topCurrenncyCalculator {
    padding: 0px 0px 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    color: #956944;
    margin: 0 0 73px 21px;
}

.pageBack {
    background: #F6F6F5;
    border-radius: 50px;
    margin: 30px 0 0 90px;
    align-items: center;
    width: 250px;
    height: 40px;
    left: 170px;
    top: 928px;
    border: none;
    cursor:pointer;

}

.homePage {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #817D6C;
}